uvicorn~=0.20.0
fastapi~=0.89.1
pydantic~=1.10.4
psycopg2==2.9.5
celery==5.2.7
redis==4.5.1
flower==1.2.0
SQLAlchemy==2.0.6
alembic==1.10.2
PyJWT~=2.6.0
passlib~=1.7.4
bcrypt~=4.0.1
aiohttp~=3.8.4
beautifulsoup4~=4.11.2